<div class="container">

  <div class="wrapper">

    <h2>Form Builder Example</h2>
    <front-web-form-builder>
      <h3 header>Карточка клиента</h3>

      <front-web-form-builder>
        <h4 header>ФИО клиента</h4>

        <front-web-input>Фамилия</front-web-input>

        <front-web-input>Имя</front-web-input>

        <front-web-input>Отчество</front-web-input>

        <front-web-button footer>Сохранить</front-web-button>

      </front-web-form-builder>

      <front-web-form-builder>
        <h4 header>Адрес регистрации </h4>

        <front-web-input>Город</front-web-input>

        <front-web-input>Улица</front-web-input>

        <front-web-input>Номер дома</front-web-input>

        <front-web-button footer>Сохранить</front-web-button>

      </front-web-form-builder>

      <front-web-button footer>Отправить</front-web-button>
    </front-web-form-builder>

  </div>
</div>
